

body {
    box-sizing: border-box;
    margin: 0;
    background-color: black;
    background-image: url('../img/img9.jpg');
    font-family: "Playfair Display";
    display: flex;
    justify-content: center;
}

#contenedor {
    width: 100%;
    max-width: 960px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
}


.titulo {
    color: #ffffff;
    background-color: #4a235a ;
    text-align: center;
    margin: 20px auto;
    padding: 0.5rem;
    border-radius: 0.4em;
}

.banner {
    width: 100%;
    border-radius: 0.8em;
}

header {
    width: 95%;
    margin: auto;
}


footer {
    width: 90%;
    color: #ffffff;
    background-color: #000000;
    padding: 0 0.625rem;
    margin: 20px auto;
    border-radius: 0.625rem;
    text-align: center;
}
.subtitulos{
    text-align: center;
}

.imgIndex{
    width: 47%;
    float: inline-start;
    margin: 1em;
    padding: .5em;
}
.textoBurton{
    margin: 1em;
    padding: 0;
    text-indent: .5em;
    text-align: justify;
}
