body {
  box-sizing: border-box;
  margin: 0;
  background-color: black;
  background-image: url('../img/img9.jpg');
  font-family: "Playfair Display";
  display: flex;
  justify-content: center;
}

#contenedor {
  width: 100%;
  max-width: 960px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
}
.tituloHeader{
  background-color: #4a235a;
  font-size: 2.5em;
}
.titulos,.tituloHeader {
  color: #ffffff;
  text-align: center;
  margin: .5em;
  padding: 0.5em;
  border-radius: 0.4em;
}

.titulos{
  font-size: 1.5em;
}

h2{
  background-color: #4a235a;
}
.banner {
  width: 100%;
  border-radius: 0.8em;
}

header {
  width: 95%;
  margin: auto;
}


footer {
  width: 90%;
  color: #ffffff;
  background-color: #4a235a;
  padding: 0 0.625rem;
  margin: 20px auto;
  border-radius: .625rem;
  text-align: center;
}

.fondo {
  width: 95%;
  padding: .6em;
  background: #e3ae2b;
  border-radius: .6em;
  margin: 0;
}

.formulario{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list-group {
    width: 50%;
    padding: 2em;
    border-radius: .6em;
    margin: .4em;
    float: inline-start;
}

/*Estilos para todas las imágenes*/
.imgIndex, .imgTimCaratula,.imgTimJoven,.BurtonHoy,.setBeetlejuice,.setEdward,.imgSetPlaneta,.imgSetAlicia{
  float: inline-start;
  margin: 1em;
  padding: .5em;
}

.imgTimNino,iframe,.imgOnSet,.imgSetSombras{
  float: inline-end;
  margin: 1em;
  padding: .5em;
}

.imgIndex,.imgOnSet{
  width: 47%;
}

.imgTimCaratula,.imgTimNino,.BurtonHoy,.setEdward{
  width: 30%;
}

.imgTimJoven,.setBeetlejuice,.imgSetSombras,.imgSetPlaneta,.imgSetAlicia{
  width: 40%;
}

iframe{
  width: 55%;
}


/*estilos para el responsive del video en pagina filmografia*/

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}


.responsive-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.textoBurton, .sectionLink{
  margin: 1em;
  padding: 0;
  text-indent: .5em;
  text-align: justify;
}
.sectionLink{
  display: flex;
  flex-direction: row;
  

}
.sectionLink div img, .aectionLink div a{
  display: block;
}

.sectionLink div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textoCentrado {
  margin: 1em;
  padding: 0;
  text-indent: .5em;
  text-align: center;

}

/*Estilos del nav hamburger*/
/* Estilo del menu de navegación */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  flex-wrap: wrap;
}

/* Esconder los links dentro del menu de navegación (excepto el logo/home) */
.topnav #myLinks {
  display: none;
}

/* Estilos de los links del menu */
.topnav a {
  color: white;
  padding: .2em .4em;
  text-decoration: none;
  display: block;
}
.dropdown-item{
  font-size: 1.2em;
}

/* Estilos del menú hamburguesa */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Agregar el hover gris */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Estilo de active (o home/logo) */
.active {
  background-color: #4a235a;
  color: white;
}
.dropdown-menu li a{
  color: #000000;
  font-size: .8em;
}
/*Fin de estilos del nav hamburger*/


.sectionLink p span{
  background-color: #4a235a;
}
.sectionLink p span:hover{
  background-color: yellowgreen;
  color: #000000;
}
.imgLink1,.imgLink2{
  width: 30%;
  float: inline-start;
  margin: 1em;
  padding: .5em;
}

.swiffy-slider ul li{
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiffy-slider ul li img{
  width: 60%;
}

@media (max-width:768px){
  .nav {
    display: flex;
    flex-direction: column;
  }
  .topnav{
    font-size: .8em;
  }
  
  img{
    float: none;
    display: block;
  }
}